---
name: Trunk Check
on:
  pull_request: {}
permissions:
  contents: read
  checks: write
jobs:
  trunk:
    uses: aps831/workflows/.github/workflows/trunk.yaml@master
    with:
      node-version: 22.21.1
      install-deps-script: npm ci
